body {
  margin: 0px;
}
#header {
  background-color: #8433aa;
  color: white;
  font-family: Verdana;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-decoration: none;
  height: 7%;
}
.headerLink {
  color: white;
  text-decoration: none;
  font-family: Verdana;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 50%;
  padding-bottom: 50%;
  font-size: 17pt;
}
